server:
  port: 8071
spring:
  application:
    name: ConfigServer
  profiles:
    # active: native
    active: git
  cloud:
    config:
      server:
          # native:
          # search-locations: "classpath:/config"
          # search-locations: "file:///Users//eazybytes//Documents//config"
        git:
          uri: "https://github.com/RohitGuttula/config-repo.git"
          default-label: master
          timeout: 5
          clone-on-start: true
          force-pull: true
